node_modules
**/node_modules
.venv
**/.venv
**/__pycache__/
**/__pycache__
*.pyc
.env
**/.env
.git
.gitignore
experiment_results
**/experiment_results
backend/scripts/output
**/backend/scripts/output
*.egg-info
**/*.egg-info
.DS_Store
**/.DS_Store
**/.cache
**/.huggingface
**/.hf
